body {
	background-color: black;
	overflow: hidden;
}

.unselectable {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
								  not supported by any browser */
}



.sidePanel {
	position: absolute;
	width: 250px;
	height: calc(100% - 60px);
	background-color: rgba(70, 70, 80, 0.7);

	padding: 30px;
	overflow-y: auto;

	z-index: 100;
}

.sidePanel>* {
	box-sizing: border-box;
	width: 100%;
	padding: 20px;

	border: solid rgba(120, 120, 140, 1) 5px;
	border-radius: 20px;
}

.sidePanel>*>* {
	width: 100%;
}

.sidePanel>*:not(:first-child) {
	margin-top: 40px;
}

.sidePanel .controls>*:not(:first-child) {
	margin-top: 10px;
}

.sidePanel .schemeName {
	width: calc(100% - calc(2 * 6px));
	padding: 0 6px;

	font-family: element_font;
	font-weight: bold;
	font-size: 20px;
	text-align: center;

	background-color: lightgrey;

	border: none;
	border-radius: 6px;
	outline: none;
}

.sidePanel button {
	font-family: element_font;
	font-weight: bold;
	font-size: 25px;
	border: none;
	border-radius: 50px;
	outline: none;
}

.sidePanel .controls .loadButton {
	margin-top: 25px;
}

.animated:not(:hover) {
	transition-duration: 0.3s;
}

.animated:hover {
	transition-duration: 0.5s;
	transform: scale(1.1);
}

.animated-green:not(:hover) {
	background-color: limegreen;
}

.animated-green:hover {
	background-color: rgb(150, 220, 150);
}

.animated-blue:not(:hover) {
	background-color: deepskyblue;
}

.animated-blue:hover {
	background-color: rgb(150, 150, 220);
}

.animated-lightblue:not(:hover) {
	background-color: LightSteelBlue;
}

.animated-lightblue:hover {
	background-color: lightgrey;
}

.animated-red:not(:hover) {
	background-color: LightCoral;
}

.animated-red:hover {
	background-color: rgb(220, 150, 150);
}

.sidePanel .block:not(:hover) {
	transition-duration: 0.3s;
}

.sidePanel .block:hover {
	transition-duration: 0.5s;
	transform: scale(1.15);
}

.sidePanel .block:not(:first-child) {
	margin-top: 20px;
}

.schemeArea {
	width: 100%;
	height: 100%;
}

.blockToAdd .name {
	background-color: transparent;
	width: 60%;
	border: none;
	padding: none;
	outline: none;
}

.inputsOutputsNumber {
	width: 100%;
	background: linear-gradient(90deg, transparent 0%, deepskyblue 30%, limegreen 70%, transparent 100%);
	margin-top: 10px;
	border-radius: 20%;
}

.inputsOutputsNumber>* {
	display: inline-block;
	width: 50%;
}

.inputsOutputsNumber input {
	width: 100%;
	background-color: transparent;

	font-family: element_font;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	
	border: none;
	padding: none;
	outline: none;
}

.addBlockButton {
	width: 100%;
	height: 30px;

	font-size: 25px;

	border: none;
	border-radius: 30px;
	margin-top: 10px;
	outline: none;
}



.testsEditor {
	width: 100%;
	height: 100%;
}

.testsTableWrapper {
	display: inline-block;
}

.testsTable {
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}

.testsTable td {
	height: 30px;
	font-size: 25px;
	padding: 15px;
}

.testsTable tr:not(:last-child) td {
	border-bottom: 1px solid rgb(70, 70, 100);
}

.testsTable tr td:not(:last-child) {
	border-right: 1px solid rgb(70, 70, 100);
}

.removeRowButton {
	background-color: LightCoral;
	color: lightgrey;
	font-weight: bold;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	padding: 7px;
	outline: none;
}

.addRowButton {
	margin-top: 12px;
	background-color: LimeGreen;
	color: lightgrey;
	font-weight: bold;
	font-size: 15px;
	border: none;
	border-radius: 5px;
	padding: 7px;
	outline: none;
}



.blocksArea {
	width: 100vw;
	height: 100vh;
	background-color: black;
}

.block {
}

.block .content {
	display: flex;
	justify-content: space-around;
	align-content: center;

	background-color: lightgrey;

	width: 100%;
	height: 100%;
	padding: 15px 0px;

	border-radius: 45px;
	outline: none;
}

@font-face {
  font-family: 'element_font';
  font-style: normal;
  font-weight: 400;
  src: url(KellySlab-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.block .name {
	text-align: center;
	font-family: 'element_font';
	font-weight: bold;
	font-size: 30px;
	color: black;
	margin-top: auto;
	margin-bottom: auto;
	padding: 0 8px;
}

.inputs,
.outputs {
	height: 100%;
	margin: 0;
	padding: 0px 15px;
}

.input,
.output {
	width: 30px;
	height: 30px;
	border: solid black 15px;
	border-radius: 50%;
}

.input:not(:last-child),
.output:not(:last-child) {
	margin-bottom: 12px;
}

.input {
	background-color: limegreen;
}

.output {
	background-color: deepskyblue;
}

.wire {
	position: absolute;
	transform-origin: 0 center 0;
}