.modalWindowOverlay {
	z-index: 100;

	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);

	position: fixed;
	top: 0;
	left: 0;
}

.modalWindow {
	max-width: 90vw;
	max-height: 90vh;

	z-index: 101;

	background-color: lightgrey;

	border-radius: 15px;

	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);

	font-family: monospace;
	text-align: center;

	padding: 30px 40px;

	overflow: auto;
}